<div class="strib-styles ssa ssb ssc">
    <div id="wrapper">
    
        <div id="country" class="map"><svg width="800" height="500" viewBox="0 0 800 500" preserveAspectRatio="xMidYMid"></svg></div>
        <div class="chatter slide">Percentage of working-age population who have dropped out of the labor force, shaded from <span class='purple1 legendary'>less</span> to <span class='purple5 legendary'>more</span>. Source: U.S. Census American Community Survey, 2017.</div>
        </div>
    
    
      <section class="container-lg elex-header">
          <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
          <h1>Minnesota is facing a labor shortage. This data helps explain why.</h1>
          <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p> 
          <div class="article-dateline"><time pubdate datetime="2019-08-30T16:00:00">August 30, 2019</time></div>
        </section>
    
        <p></p>
    
        <section class="container-lg leadin">
          <p>Minnesotans have celebrated a decade of Labor Days since the end of the Great Recession in 2009, and the news for workers of late has largely been good.</p>
    
          <p>Most people who want a job have one, with the state's unemployment rate floating around 3.4 percent. Meanwhile, nearly seven in 10 working-age Minnesotans either have or are looking for jobs, ensuring employers have a robust talent pool from which to hire.</p>
          
          <p>Yet academics and business leaders have been sounding alarm bells. Over the next decade, Minnesota is forecast to have hundreds of thousands more jobs than it will have workers to fill them — a problem for employers, who may have problems filling critical jobs as baby boomers retire and others drop out of the labor force.</p>
          
          <p>“It’s definitely a major issue for employers in the state,” said Cameron Macht, a regional analysis and outreach manager at the Minnesota Department of Employment and Economic Development, “and looking forward it may become an even bigger deal.”</p>
          
          <p>Minnesota's looming labor shortage has been the subject of news coverage, studies and boardroom anxiety for years. But a Star Tribune analysis of nationwide Census data shows in more detail who is leaving the labor force and why they might be so difficult to replace.</p>
          
          <p>According to the data, about 30 percent of working-age Minnesotans are not looking for jobs. So who are these labor force dropouts, and what's driving them from the working ranks?</p>
          
          <p>Many of them are in Greater Minnesota, where in some counties nearly half of the adult population has dropped out of the workforce. Although many Minnesota counties have higher workforce participation than many other places nationwide, the Iron Range is replacing workers more slowly, due largely to an aging population.</p>      
        </section>
    
        <div class="slide">
            <div class="chartTitle">Where more Minnesotans are leaving the workforce</div>
            <div class="chatter">Shows <span class='orange2 legendary'>declines</span> or <span class='purple5 legendary'>increases</span> in workforce dropout rates from 2010 to 2017 among those aged 16 or older.</div>
    
            <div id="mapCounties" class="map">
                <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
            </div>
            <p></p>
        </div>
    
        <section class="container-lg leadin">
          <p>More than half of the state's workforce dropouts are 65 and older — a number that is likely to increase as more baby boomers reach retirement age.</p>
    
          <p>Nearly six in 10 are women. Among those staying home, lack of sufficient childcare could be of concern, Macht said, and Census data shows about a quarter of married couples with children under 18 reported at least one spouse outside the workforce.</p>
          
          <p>More people also have disabilities, according to the U.S. Bureau of Labor Statistics, which may prevent them from looking for jobs.</p>
          
          <p>Foreign-born populations also affect these rates, as they accounted for both a 60 percent jump in labor force growth from 2007 to 2017 but a 25 percent increase in those outside the workforce.</p>
    
        </section>
    
        <div class="slide">
            <div class="chartTitle">Which Minnesotans are outside the workforce</div>
            <div class="chatter">Those outside Minnesota's workforce are usually older, whiter and more often female, according to 2017 Census data.</div>
            <p></p>
            <!-- <div id="chartTrend" class="chart"></div> -->
            <div id="chartCharge">
                    <div class="label">Age group</div>
                    <div class="bar">
                      <div class='purple5 mainbar' style="width:52%"><div>65+<br />52%</div></div><div class='purple4 mainbar' style="width:15%"><div>55-64<br />15%</div></div><div class='purple3 mainbar' style="width:13%"><div>35-54<br />13%</div></div><div class='purple2 mainbar' style="width:20%"><div>16-34<br />20%</div></div>
                    </div>
                      
                    <div class="label">Race</div>
                    <div class="bar">
                      <div class='purple5 mainbar' style="width:84%"><div>White, non-Hispanic<br />84%</div></div><div class='purple4 mainbar' style="width:16%"><div>Non-white<br />16%</div></div>
                      </div>
                
                    <div class="label">Gender</div>
                    <div class="bar">
                      <div class='purple5 mainbar' style="width:59%"><div>Female<br />59%</div></div><div class='purple4 mainbar' style="width:41%"><div>Male<br />41%</div></div>
                      </div>
    
                    <div class="label">Education level</div>
                      <div class="bar">
                        <div class='purple5 mainbar' style="width:14%"><div>No diploma<br />14%</div></div><div class='purple4 mainbar' style="width:31%"><div>High school<br />31%</div></div><div class='purple3 mainbar' style="width:31%"><div>1-2 years college<br />31%</div></div><div class='purple2 mainbar' style="width:24%"><div>Bachelor's or more<br />24%</div></div>
                    </div>
    
                    <div class="label">Country of origin</div>
                    <div class="bar">
                      <div class='purple5 mainbar' style="width:90%"><div>U.S.<br />90%</div></div><div class='purple4 mainbar' style="width:10%"><div>Foreign<br />10%</div></div>
                    </div>
    
                    <div class="label">Disability status</div>
                      <div class="bar">
                        <div class='purple5 mainbar' style="width:71%"><div>No disability<br />71%</div></div><div class='purple4 mainbar' style="width:29%"><div>With disability<br />29%</div></div>
                    </div>
            </div>
    
            <p></p>
        </div>
    
        <section class="container-lg leadin">
          <p>Making less impact on labor force rates are those in correctional facilities, which only describes about 20,000 incarcerated Minnesotans, along with individuals in nursing homes, college dorms or the armed forces, all of whom are excluded from the numbers. Though, it's worth noting they may have greater presence in some counties than others.</p>
    
          <p>Those who leave prisons with criminal records too may face difficulty and discouragement when seeking work.</p>
          
          <p>Yet, there are some encouraging trends, as data shows fewer people are discouraged by their job prospects than the past decade, according to the U.S. Bureau of Labor Statistics, while more are seeking education; those with associate’s degrees or higher being more likely to find employment.</p>
          
          <p>"Many of the workers who are leaving our labor force won’t be coming back," Macht said, "meaning employers cannot and should not ignore anyone who wants to work but is facing barriers."</p>
        </section>
    
        <div class="slide">
            <div class="byline">Data sources: Source: U.S. Census Bureau, American Community Survey, U.S. Bureau of Labor Statistics, Minnesota State Demographic Center, Minnesota Department of Employment and Economic Development | Graphics by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
        </div>
    
      <section class="container-lg">
        <div class="article-author-contact">
              <div class="article-author-hcard">
                      <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                      <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Who's outside Minnesota's workforce?" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                      <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                      <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
              </div>
       </div>
    </section>
    
    </div>