<div class="strib-styles ssa ssb ssc">
<div id="wrapper" class="slide">

    <div id="country" class="map"><svg width="800" height="500" viewBox="0 0 800 500" preserveAspectRatio="xMidYMid"></svg></div>
    <div class="chatter">Displays workforce drop rates for U.S. counties, shaded from <span class='purple1 legendary'>less</span> to <span class='purple5 legendary'>more</span>, of those aged 16 or older in 2017.</div>
    </div>


  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>Who's outside Minnesota's workforce?</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p> 
      <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">September 1, 2019</time></div>
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>Minnesota often economically outperformed other states through the Great Recession’s troubled times, and still ranks third nationally in labor force participation rates, with 70 percent aged 16 or older either working or seeking jobs.</p>
        
        <p>But that other 30 percent are neither considered employed nor unemployed, and their numbers have gradually crept upward the past decade, federal data shows, and may signal future slowdowns in workforce growth.</p>

        <p>Economic measures like unemployment and job numbers can bely growing populations of Minnesotans excluded entirely from the labor force, include retirees, enlisted military members, students, homemakers, those in correctional facilities and anyone not seeking work due to disability or discouragement.</p>
            
        <p>“It’s definitely a major issue for employers in the state,” said Cameron Macht, an analysist at the Minnesota Department of Employment and Economic Development, “and looking forward it may become an even bigger deal.”</p>

        <p>Some rural areas in Minnesota have already seen significant increases in workforce dropout rates since the recession’s end, with some equaling nearly half a county’s 16+ population. </p>
    </section>

    <div class="slide">
            <div class="chatter">Shows <span class='orange2 legendary'>declines</span> or <span class='purple5 legendary'>increases</span> in workforce dropout rates from 2010 to 2017 among those aged 16 or older.</div>

        <div id="mapCounties" class="map">
            <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <p></p>
    </div>

    <section class="container-lg leadin">
        
        <p>Sometimes these high rates can be explained by the presence of correctional facilities where prisoners are usually considered outside the workforce – but it doesn’t account for most of what’s driving these trends.</p>

        <p>Instead, aging populations are primary factors, as retirees aged 60 or older comprised about half of Minnesota’s workforce dropouts in 2017, the most recent year of Census data. </p>

        <p>Foreign-born populations also affect these rates, as they accounted for both a 60 percent jump in labor force growth from 2007 to 2017 and a 25 percent increase in those outside the workforce.</p>

        <p>Additionally, lack of sufficient child care may be pushing many to stay home, Macht said, and Census data shows about 40 percent of married couples reported at least one spouse outside the workforce.</p>
    </section>

    <div class="slide">
        <div class="chatter">Shows <span class='purple2 legendary'>workforce dropout rates</span> among various demographics in Minnesota in 2017.</div>
        <div id="chartTrend" class="chart"></div>
    </div>

    <section class="container-lg leadin">
        <p>Those with disabilities preventing them from working also increased.</p>

        <p>Yet, there are some positve trends, as fewer people are discouraged by their job prospects than the past decade, according to the U.S. Bureau of Labor Statistics, while more are seeking education. Those with associate’s degrees or higher are much more likely to be employed.</p>

        <p>Ten years forward, DEED's projections predict slowed labor force growth of 2.4 percent by 2030, with fewer of the youngest workers and those aged 55 to 64 participating.</p>

        <p>"Many of the workers who are leaving our labor force won’t be coming back," Macht said, "meaning employers cannot and should not ignore anyone who wants to work but is facing barriers."</p>
    </section>

    <div class="slide">
        <div class="byline">Data sources: Source: U.S. Census Bureau, American Community Survey, U.S. Bureau of Labor Statistics, Minnesota State Demographic Center, Minnesota Department of Employment and Economic Development | Graphics by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

  <section class="container-lg">
    <div class="article-author-contact">
          <div class="article-author-hcard">
                  <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                  <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Every police-involved death in Minnesota since 2000" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                  <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                  <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
          </div>
   </div>
</section>

</div>