<div class="strib-styles ssa ssb ssc">
<div id="wrapper" class="slide">

    <div id="country" class="map"><svg width="800" height="500" viewBox="0 0 800 500" preserveAspectRatio="xMidYMid"></svg></div>
    <div class="chatter">Displays workforce drop rates for U.S. counties, shaded from <span class='purple1 legendary'>less</span> to <span class='purple5 legendary'>more</span>, of those aged 16 or older in 2017.</div>
    </div>


  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>Who's outside Minnesota's workforce?</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p> 
      <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">September 1, 2019</time></div>
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>In many ways, the U.S. economy is doing well, building upon upswings following 2009's Great Recession.  Minnesota, in particular, often outperformed the nation through troubled times.</p>
        
        <p>But economic measures like unemployment and job numbers can bely growing numbers of Minnesotans and other Americans excluded entirely from the labor force, federal data shows, due primarily to an aging population – particularly in rural regions – and may signal future slowdowns in labor force growth.</p>

        <p>While Minnesota still ranks third nationally for labor force participation, with 70 percent aged 16 or older working or seeking jobs, another 30 percent are neither considered employed nor unemployed, including retirees, enlisted military members, students, homemakers, those in correctional facilities and anyone not seeking work due to disability or discouragement.</p>
            
        <p>“It’s definitely a major issue for employers in the state,” said Cameron Macht, an analysist at the Minnesota Department of Employment and Economic Development, “and looking forward it may become an even bigger deal, as Minnesota’s labor force growth is expected to slow even more.”</p>

        <p>In some Minnesota counties, the portion of population not in the labor force reaches nearly half.</p>
    </section>

    <div class="slide">
            <div class="chatter">Shows <span class='orange2 legendary'>declines</span> or <span class='purple5 legendary'>increases</span> in population outside the labor force from 2010 to 2017 among those aged 16+ not in the labor force.</div>

        <div id="mapCounties" class="map">
            <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
        <p></p>
    </div>

    <section class="container-lg leadin">


        <p>Sometimes this can be explained by the presence of correctional facilities where prisoners are usually considered outside the workforce, but it doesn’t account for most of what’s driving dropout rates in Greater Minnesota.</p>

        <p>Multiple factors are driving this increase in workforce dropout rates, including:</p>

        <p>Retirees aged 65 or older comprised about half of workforce dropouts in 2017, the most recent U.S. Census Bureau data shows, but another 40 percent are in prime working years aged 25 to 54.</p>

        <p>Minnesota’s foreign-born population also increasingly affects these states, which accounted for both a 60 percent jump in labor force growth from 2007 to 2017, but also a 25 percent gain of those outside the workforce.</p>
    </section>

    <div class="slide">
        <div class="chatter">Shows <span class='purple2 legendary'>workforce dropout rates</span> among various demographics in Minnesota in 2017.</div>
        <div id="chartTrend" class="chart"></div>
    </div>

    <section class="container-lg leadin">

        <!-- <p><a href="http://www.startribune.com/why-economic-recovery-in-greater-minnesota-is-actually-better-than-in-twin-cities/433899443/">In some ways</a>, Greater Minnesota has recovered faster than the Twin Cities metro area from the Great Recession. In other ways, it still lags behind.</p> -->

        <p>Additionally, lack of sufficient child care may be pushing many to stay home, Macht said, and Census data shows about 40 percent of married couples reported one or both spouses were outside the workforce.</p>

        <p>Yet, there are some encouraging trends, as fewer Minnesotans are discouraged by their job prospects across the past decade, according to the U.S. Bureau of Labor Statistics, while more are seeking education.</p>

        <p>Education plays a significant role in workforce participation, as those with associate’s degrees or higher are much more likely to be employed.</p>
    </section>

    <div class="slide">
        <div class="byline">Data sources: Source: U.S. Census Bureau, American Community Survey, U.S. Bureau of Labor Statistics, Minnesota State Demographic Center, Minnesota Department of Employment and Economic Development | Graphics by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

  <section class="container-lg">
    <div class="article-author-contact">
          <div class="article-author-hcard">
                  <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                  <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Every police-involved death in Minnesota since 2000" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                  <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                  <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
          </div>
   </div>
</section>

</div>